<nav class="navbar bg-body-tertiary d-flex justify-content-end">
  <div class="">
    <a class="navbar-brand" href="#">Logout</a>
  </div>
</nav>
<div class="container-fluid vh-100 d-flex justify-content-center">
  <div class="col-md-7 mt-5">
    <p class="text-black d-flex justify-content-center" style="font-size: 32px">
      NGO,s VERIFICATION
    </p>
    <hr class="border border-warning border-4 opacity-50 ms-5 me-5" />
    <p class="d-flex justify-content-center" style="font-size: 26px">
      NG0's &nbsp; DATA
    </p>
    <div class="card-body m-3">
      <div class="row d-flex justify-content-evenly p-3">
        <div class="row">
          <div class="col-md-6">
            <p style="font-size: 18px">
              Ngo name: &nbsp; {{ detail.patient_id__user_id__first_name }} {{
              detail.patient_id__user_id__last_name}}
            </p>
          </div>
          <div class="col-md-6">
            <p style="font-size: 18px">
              Email: &nbsp; {{ detail.patient_id__user_id__email }}
            </p>
          </div>
        </div>
        <!-- <div class="col-md-2">
            <p style="font-size: 18px">Age: &nbsp; {{ detail.patient__age }}</p>
          </div> -->
        <!-- <div class="col-md-2">
            <p style="font-size: 18px">
              Sex: &nbsp; {{ detail.patient__gender }}
            </p>
          </div> -->
        <!-- <div class="row mt-3">
          <div class="col-md-7">
            <p style="font-size: 18px">
              Address: &nbsp; {{ detail.patient__address }}
            </p>
          </div>
          <div class="col-md-4">
            <p style="font-size: 18px">
              Phone: &nbsp; {{ detail.patient__Phone }}
            </p>
          </div>
        </div> -->
      </div>
    </div>
    <hr class="border border-danger border-3 opacity-50 mt-3" />
    <p class="d-flex justify-content-center" style="font-size: 26px">
      Verification Details
    </p>
    <div class="row d-flex justify-content-center">
      <!-- <div class="col-md-5">
        <p style="font-size: 18px">
          Suffering From: &nbsp; {{ detail.patient__age }}
        </p>
      </div>
      <div class="col-md-5">
        <p style="font-size: 18px">
          Current Symptoms: &nbsp; {{ detail.patient__age }}
        </p>
      </div> -->

      <div class="d-flex justify-content-evenly mt-5">
        <div class="input-group">
          <input
            type="file"
            class="form-control"
            id="inputGroupFile04"
            aria-describedby="inputGroupFileAddon04"
            aria-label="Upload"
            file-model="files" />
          <button class="btn text-white float-end btn-primary" ng-click="add()">
            SUBMIT
          </button>
        </div>
      </div>

      <div
        class="d-flex justify-content-evenly mt-2"
        ng-repeat="prescription in prescriptions">
        <div class="col-md-3">
          <label class="form-label">Medicine</label>
          <input
            type="text"
            class="p-2 form-control border border-black"
            ng-model="prescription.medicine"
            readonly />
        </div>
        <div class="col-md-3">
          <label class="form-label">Dosage</label>
          <input
            type="number"
            class="p-2 form-control border border-black"
            ng-model="prescription.dosage"
            readonly />
        </div>
        <div class="col-md-3">
          <label class="form-label">Purpose</label>
          <input
            type="text"
            class="p-2 form-control border border-black"
            ng-model="prescription.Purpose"
            readonly />
        </div>
        <button
          class="btn text-white float-end mt-4 btn-danger"
          ng-click="del($index)">
          <i class="bi bi-trash" style="font-size: 24px"></i>
        </button>
      </div>

      <div class="row mt-3">
        <div class="card-body ms-5">
          <div class="d-flex justify-content-center">
            <table id="exportable" class="table">
              <tbody>
                <tr
                  ng-repeat="doctor in Medicines| filter: { first_name: searchname }">
                  <td style="font-size: 18px">{{doctor.medicine}}</td>
                  <td style="font-size: 18px">{{doctor.dosage}}</td>
                  <td style="font-size: 18px">{{doctor.purpose}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="card-body m-3">
        <hr class="border border-primary border-3 opacity-50" />
        <!-- <div class="row d-flex justify-content-evenly p-3">
          <div class="col-md-4">
            <p style="font-size: 18px">
              Doctor name: &nbsp; {{ detail.first_name }} {{ detail.last_name}}
            </p>
          </div>
          <div class="col-md-4">
            <p style="font-size: 18px">
              Doctor Email: &nbsp; {{ detail.email }}
            </p>
          </div>
          <div class="col-md-4">
            <p style="font-size: 18px">
              Doctor Phone: &nbsp; {{ detail.patient__Phone }}
            </p>
          </div>
        </div> -->
      </div>

      <div class="d-flex justify-content-center mt-5">
        <button
          class="btn btn-primary text-white"
          style="font-size: 20px"
          ng-click="confirm()">
          Submit Details
        </button>
      </div>
    </div>
  </div>
</div>
