<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input
        required
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search" />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav> -->

<style>
  * {
    margin: 0;
    padding: 0;
  }

  body {
    background-color: #e6f9ff;
    height: 100vh;
  }

  .card {
    width: 900px;
    background-color: #efefef;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
  }

  .image img {
    border-radius: 50%;
  }

  #profilebtn {
    height: 120px;
    width: 120px;
    border-radius: 50%;
  }

  .name {
    font-size: 22px;
    font-weight: bold;
  }

  .idd {
    font-size: 14px;
    font-weight: 600;
  }

  .idd1 {
    font-size: 12px;
  }

  .number {
    font-size: 22px;
    font-weight: bold;
  }

  .text span {
    font-size: 13px;
    color: #545454;
    font-weight: 500;
  }

  .main {
    margin-top: 2%;
    margin-left: 10%;
    font-size: 28px;
    padding: 0 10px;
    width: 58%;
  }

  .main .card {
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 1px 1px 8px 0 grey;
    height: auto;
    margin-bottom: 20px;
    padding: 20px 0 20px 50px;
  }

  .main .card table {
    border: none;
    font-size: 16px;
    height: 270px;
    width: 80%;
  }
</style>

<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
  <div class="row">
    <div class="col-lg-10">
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Name</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">
                {{details.first_name}}&nbsp;&nbsp;{{details.last_name}}
              </p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Email</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{details.email}}</p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">NGO's Name</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{details.name}}</p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Mission</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{details.mission}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mt-4 mb-4 d-flex justify-content-center">
  <div class="row">
    <div class="col-lg-10">
      <div class="card" style="border-radius: 15px">
        <div class="card-body p-4">
          <h3 class="mb-3">{{details.username}}</h3>
          <p class="small mb-0">
            <strong>To verify your ngo submit the file</strong>
          </p>
          <hr class="my-4" />
          <form action="" ng-submit="file()">
            <div class="d-flex justify-content-start align-items-center">
              <div class="input-group">
                <input
                  required
                  type="file"
                  class="form-control"
                  file-model="fileModel" />
                <button class="btn btn-outline-secondary" type="submit">
                  Submit
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5 mb-5">
  <div class="card p-5 w-100 mb-5">
    <form ng-submit="submit()">
      <div class="form-outline mb-4">
        <label class="form-label" for="form6Example3">Project name</label>
        <input
          required
          type="text"
          id="form6Example3"
          class="form-control"
          ng-model="project_name" />
      </div>

      <div class="input-group mt-4 mb-4">
        <label class="input-group-text" for="inputGroupSelect01"
          >Choose Sdgc
        </label>
        <select
          class="form-select"
          ng-model="select"
          ng-options="name as name.name for name in names"
          ng-click="ohkay(select.id)"
          placeholder="choose Sdgc">
          <option value="">choose option</option>
        </select>
      </div>

      <div class="form-outline mb-4">
        <label class="form-label" for="form6Example6">Title</label>
        <input
          required
          type="text"
          id="form6Example6"
          class="form-control"
          ng-model="project_title" />
      </div>
      <!-- Text input
      required -->
      <div class="form-outline mb-4">
        <label class="form-label" for="form6Example4">Location</label>
        <input
          required
          type="text"
          id="form6Example4"
          class="form-control"
          ng-model="location" />
      </div>

      <!-- Email input
      required -->
      <div class="input required-group mb-5">
        <input
          required
          type="file"
          class="form-control"
          file-model="fileModel" />
      </div>

      <!-- Number input
      required -->

      <!-- Message input
      required -->
      <div class="form-outline mb-4">
        <label class="form-label" for="form6Example7">Description</label>
        <textarea
          class="form-control"
          id="form6Example7"
          rows="4"
          ng-model="description"></textarea>
      </div>

      <!-- Submit button -->
      <div class="w-100 d-flex justify-content-center">
        <button
          data-mdb-ripple-init
          type="submit"
          class="btn btn-secondary btn-block mb-4 col-lg-2">
          Add project
        </button>
      </div>
    </form>
  </div>
</div>
