<nav class="navbar navbar-expand-lg bg-body-tertiary" >
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<!-- <div class="container-fluid">
  <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
          <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
              <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                  <span class="fs-5 d-none d-sm-inline">DASHBOARD</span>
              </a>
              <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                
                  <li ng-repeat="dashboard in dashboards">
                    <div>
                        
                    
                      <a  class="nav-link px-0 align-middle" ui-sref="{{dashboard.state}}" ><i class="{{dashboard.icons}}"></i> {{dashboard.panel}}</a>  
                    </div>
                  </li> 
                  <ul>
                  <button class="btn btn-outline-primary" style="margin-top: 450px; height: 10%;" ng-click="logout()">LogOut</button>
                  </ul>            
              </ul>

              <hr>
                
            
         </div>
      </div>
      <div class="col mt-lg-5">

      <div class="container-fluid" ui-view="">
      </div>
    </div>

   </div>

</div>    -->

<style>
  * {
    margin: 0;
    padding: 0;
  }

  body {
    background-color: #e6f9ff;
  }

  .card {
    width: 600px;
    background-color: #efefef;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
  }

  .image img {
    border-radius: 50%;
  }

  #profilebtn {
    height: 120px;
    width: 120px;
    border-radius: 50%;
  }

  .name {
    font-size: 22px;
    font-weight: bold;
  }

  .idd {
    font-size: 14px;
    font-weight: 600;
  }

  .idd1 {
    font-size: 12px;
  }

  .number {
    font-size: 22px;
    font-weight: bold;
  }

  .text span {
    font-size: 13px;
    color: #545454;
    font-weight: 500;
  }

  .main {
    margin-top: 2%;
    margin-left: 10%;
    font-size: 28px;
    padding: 0 10px;
    width: 58%;
  }

  .main .card {
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 1px 1px 8px 0 grey;
    height: auto;
    margin-bottom: 20px;
    padding: 20px 0 20px 50px;
  }

  .main .card table {
    border: none;
    font-size: 16px;
    height: 270px;
    width: 80%;
  }
  /* ng-repeat="detail in details"  */
</style>

<!-- <div class="container mt-4 mb-4 p-3 d-flex justify-content-center"> 
    <div class="card p-4" > 
        <div class=" image d-flex flex-column justify-content-center align-items-center" >
           
            <button class="btn btn-outline-danger"> 
                <img src="https://ui-avatars.com/api/?name={{detail.name}}" height="100" width="100" />
            </button>
             <span class="name mt-3">{{detail.name}}</span> 
             <span class="idd">{{detail.UPI_id}}</span>
              <div class="d-flex flex-row justify-content-center align-items-center gap-2"> 
                <span class="idd1">{{detail.UPI_number}}</span>
              </div>
    
                    <div class="text mt-3">
                        <h2>Gender : {{detail.gender}}</h2><br>
                        <h2>Contact : {{detail.UPI_number}}</h2><br>
                        <h2>Email : {{detail.email}}</h2><br>
                        <h2>Bank Name : {{detail.bank_name}}</h2><br>
                        <h2>Branch Name : {{detail.branch_name}}</h2><br>
                        <h2>Account Number : {{detail.account_number}}</h2><br>
                    </div>
                         
        </div> 
        <div class="text-center" style="margin-top: 2%; font-size: 15px;">

            Powered by <br>
            <p><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRn6Y5DVqqrbBoi4HnB-G5YLf9TJHsMqKj-Pg&usqp=CAU" alt="" width="30" height="30">|
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTrzSeqb6V1ldaVC4drFb6axSZ0nZ_H70k4A&usqp=CAU" alt="" height="15"></p>

          </div>
    </div>
</div> -->

<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
  <div class="main">
    <div class="card" >
      <div class="card-body">
        <button
          class="btn btn-outline-primary"
          id="profilebtn"
          style="margin-left: 35%; margin-bottom: 3%"
        >
          <!-- <img
            src="https://ui-avatars.com/api/?name={{detail.name}}"
            height="100"
            width="100"
            style="border-radius: 50%"
          /></button
        ><br />
        <span class="name mt-3" style="text-align: center; margin-left: 34%"
          >{{detail.username}}</span
        > -->

        <table>
          <tbody ng-repeat="detail in details">
            <tr>
              <td>Gender</td>
              <td>:</td>
              <td>{{detail.gender}}</td>
            </tr>
            <tr>
              <td>Email</td>
              <td>:</td>
              <td>{{detail.email}}</td>
            </tr>
            <tr>
              <td>Contact</td>
              <td>:</td>
              <td>{{detail.UPI_number}}</td>
            </tr>
            <tr>
              <td>UPI Id</td>
              <td>:</td>
              <td>{{detail.UPI_id}}</td>
            </tr>
            <tr>
              <td>Bank Name</td>
              <td>:</td>
              <td>{{detail.bank_name}}</td>
            </tr>
            <tr>
              <td>Bank Branch</td>
              <td>:</td>
              <td>{{detail.branch_name}}</td>
            </tr>
            <tr>
              <td>Account Number</td>
              <td>:</td>
              &nbsp;
              <td>{{detail.account_number}}</td>
            </tr>
          </tbody>
        </table>
        <div class="text-center" style="margin-top: 2%; font-size: 15px">
          Powered by <br />
          <p>
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRn6Y5DVqqrbBoi4HnB-G5YLf9TJHsMqKj-Pg&usqp=CAU"
              alt=""
              width="30"
              height="30"
            />|
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTrzSeqb6V1ldaVC4drFb6axSZ0nZ_H70k4A&usqp=CAU"
              alt=""
              height="15"
            />
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
