<div style="text-align: center">
  <h1><u>Admin Verification Desk</u></h1>
</div>
<table class="table mt-lg-5">
  <thead class="table-dark">
    <tr>
      <th style="font-size: 18px">S.No</th>
      <th style="font-size: 18px">Patient Name</th>
      <th style="font-size: 18px">Patient Email</th>
      <th style="font-size: 18px">Patient Phone</th>
      <th style="font-size: 18px">Address</th>
      <th style="font-size: 18px">Date</th>
      <th style="font-size: 18px">Time</th>
      <th style="font-size: 18px">Age</th>
      <th style="font-size: 18px">Gender</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr
      ng-repeat="doctor in ngoRequests | filter: {patient_id__user_id__first_name: searchname }">
      <th style="font-size: 16px">{{$index + 1}}</th>
      <td style="font-size: 16px">
        {{ doctor.patient_id__user_id__first_name }} {{
        doctor.patient_id__user_id__last_name }}
      </td>
      <td style="font-size: 16px">{{ doctor.patient_id__user_id__email }}</td>
      <td style="font-size: 16px">{{ doctor.patient_id__Phone }}</td>
      <td style="font-size: 16px">{{ doctor.patient_id__address }}</td>
      <td style="font-size: 16px">{{ doctor.date }}</td>
      <td style="font-size: 16px">{{ doctor.time }}</td>
      <td style="font-size: 16px">{{ doctor.patient_id__age }}</td>
      <td style="font-size: 16px">{{ doctor.patient_id__gender }}</td>
      <td>
        <button class="btn btn-primary btn-sm" ng-click="Accept(doctor.id)">
          View
        </button>
      </td>
    </tr>
  </tbody>
</table>
